*{
	margin: 0;
	padding: 0;
	color: #838DBA;
	font-family: Arial, Helvetica;
}

main, 
body,
#comments div,
#purpleRollingGifSpan,
#divInput form,
#spanToGoLogin,
#commentNameDiv,
#comments div span{
	display: flex;
}

body{
	height: 100vh;
}

body,
#spanToGoLogin,
#purpleRollingGifSpan{	
	justify-content: center;
}

header, 
#commentNameDiv{
	align-items: center;
}

main,
#comments div,
#divInput form,
#commentNameDiv{
	flex-direction: column;
}

main{
    width: 60%;
}

main header h1{
	font-size: 45px;
	margin: 80px 0px 5px 0px;
}

#divInput form input::placeholder{
	color: #838DBA;
}

#purpleRollingGifSpan{
	margin-top: -35px;
}

#comments, #contente{
	padding-bottom: 40px;
}

#contente, #divInput form button, .deleteComment{
	margin-top: 10px;
}

#contente h2{
	margin: 30px 0px 7px 0px;
}

#commentNameDiv span, #divInput form button, .deleteComment{
	background-color: #838DBA;
}

#commentNameDiv span{
	width: 85px;
	height: 5px;
}

#comments div, #divInput{
	position: relative;
	padding: 10px 10px 25px 10px;
}

#comments div h4, 
#divInput form h4, 
#commentNameDiv span{
	margin-bottom: 6px;
}

.deleteComment,
#divInput button, 
#divInput input{
	border: none;
}

#divInput input{
    width: 100%;
    outline: none;
	font-size: 15px;
	margin-top: 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid #838DBA;
}

#divInput form button, .deleteComment{
	cursor: pointer;
}

#divInput form button, #spanToGoLogin span, .deleteComment{
	color: white;
}

#divInput form button, .deleteComment{
    width: 80px;
    height: 33px;
    font-weight: 700;
    margin-left: auto;
}

#comments div span{
	justify-content: flex-end;
}

#spanToGoLogin span{
	width: 250px;
	padding: 13px;
	font-size: 14px;
	font-weight: bolder;
	background-color: #838DBA;
}

#homeBtn, #accountBtn{
	top: 30px;
	font-weight: 700;
}

#homeBtn{
	left: 30px;
	position: absolute;
}

#accountBtn{
	left: 100px;
	position: absolute;
}

@media screen and (max-width: 669px){
	
	main {
	    width: 85%;
	}
}
