*{
	margin: 0;
	padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, #deletePostDiv, #searchPostSpan{
	display: flex;
}

body{
	height: 100vh;
	align-items: center;
	justify-content: center;
}

main{
	position: relative;
	padding: 35px 15px 15px 15px;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#message{
	width: 100%;
	position: absolute;
	top: 10px;
 	text-align: center;
}

input,
#addPostDiv textarea, 
#searchPostSpan button{
	outline: none;
	box-sizing: border-box;
}

#addPostDiv textarea{
	width: 590px;
	height: 200px;
}

#addPostDiv textarea, #title, #searchPostSpan{
	border: 1px solid #838DBA;
}

#addPostDiv label,
#addPostDiv textarea,
input:not([type="submit"]){
	font-weight: 550;
}

#addPostDiv label{
	font-size: 24px;
}

#message,
#addPostDiv label, 
#addPostDiv textarea,
#addPostDiv textarea::placeholder,
input:not([type="submit"]),
input:not(#submit)[placeholder]::placeholder{
	color: #838DBA;
}

#addPostDiv textarea,
input:not([type="submit"]){
	padding: 6px;
}

#title{
	width: 240px;
}

#addPost, #searchPostSpan button{
	border: none;
	cursor: pointer;
	background-color: #838DBA;
}

#title, #searchPostSpan{
	height: 36px;
}

#addPost{
	height: 38px;
	color: white;
	font-size: 14px;
	font-weight: bolder;
}

#deletePostDiv{
	flex-direction: column;
}

#searchPostSpan button img{
	margin-bottom: -2px;
}

#searchPostSpan button{
	width: 40px;
}

#searchPostSpan input{
	border: none;
	width: 100%;
}

@media screen and (max-width: 630px){

	main{
	    width: 85%;
	}

	#addPostDiv textarea{
	    width: 100%;
	}
}