{% extends "master.twig" %}

{% block style %}

<link rel="stylesheet" type="text/css" href="/Public/Templates/user/userAccount/form/styles.css">

{% endblock %}
	

{% block body %}

<form id="accountForm">
	<p id="message"></p>
	<h3 id="formName">Register</h3>
	<span>
	  	<input type="text" id="name" name="name" placeholder="Enter your Name"><br><br>
	  	<input type="email" id="email" name="email" placeholder="Enter your Email"><br><br>
	  	<input type="password" id="password" name="password" placeholder="Choose a password"><br><br>
	  	<input type="submit" id="formButton" value="Register">
	</span>

	<p id="tagLink">Have an account ? <a href="/user/login">Login</a></p>
</form>

{% endblock %}


{% block javascript %}

<script src="/Public/Templates/user/userAccount/form/register.js"></script>

{% endblock %}