{% extends "master.twig" %}

{% block style %}

<link rel="stylesheet" type="text/css" href="/Public/Templates/contente/posts/assets/styles.css">

{% endblock %}
	

{% block body %}

<div id="phpBanner">

	<nav id="postNav">
		<span>
			<a href="/user/profile">Account</a>
		</span>

		<span id="searchNav">
			<input type="text" id="search" name="search" placeholder="Look for a post">
			<button>
				<img src="Public/Images/search.png" draggable="false" height="20px" width="20px"> 
			</button>
		</span>
	</nav>

	<div id="phpDiv">
		<h1>PHP BLOG</h1>
	</div>

</div>

<main>

	<span id="postsSpan">
		<h4>Posts</h4>
		<span></span>
	</span>

	<div id="postsDiv">

		<div class="post">

			<a>Isso é um baguibaguibaguibagu ibagui ibagui ibagui</a>

			<p>21 de março de 2023</p>
		</div>

		<div class="post">

			<a>Isso é um baguibaguibagui baguibagui</a>

			<p>21 de março de 2023</p>
		</div>

		<div class="post">

			<a>Isso é um bagu ibaguibaguibaguibagui</a>

			<p>21 de março de 2023</p>
		</div>

		<div class="post">

			<a>Isso é um baguibaguib aguibaguibagui</a>

			<p>21 de março de 2023</p>
		</div>

		<div class="post">

			<a>Isso é um baguibaguiba guibaguibagui</a>

			<p>21 de março de 2023</p>

		</div>

	</div>

	<div id="divPageButtons">
		<button>1</button>
		<button>2</button>
		<button>4</button>
		<button>6</button>
		<button>5</button>
	</div>

</main>

{% endblock %}


{% block javascript %}

<script src="Public/Assets/user/userAccount/assets/javascript/login.js"></script>

{% endblock %}