{% extends "master.twig" %}

{% block style %}

<link rel="stylesheet" type="text/css" href="/Public/Templates/contente/posts/assets/home/styles.css">

{% endblock %}
	

{% block body %}

<div id="phpBanner">

	<h1>PHP BLOG</h1>

</div>

<main>

	<span id="postsSpan">
		<h4>Posts</h4>
		<span></span>
	</span>

	<div id="postsDiv">

	</div>

</main>

{% endblock %}


{% block javascript %}

<script src="/Public/Templates/Contente/posts/assets/home/javascript.js"></script>

{% endblock %}