{% extends "master.twig" %}

{% block style %}

<link rel="stylesheet" type="text/css" href="/Public/Templates/contente/posts/assets/post/styles.css">

{% endblock %}
	

{% block body %}

<main>

	<header>
		<span>
			<h1>{{ title }}</h1>
			<p>{{ post_date }}</p>
		</span>
	</header>

	<div id="contente">

	{{ contente|raw }}

	</div>


	<div id="comments">
			
	</div>

</main>

{% endblock %}


{% block javascript %}

<script src="/Public/Templates/Contente/posts/assets/post/javascript.js"></script>

{% endblock %}