{% extends "master.twig" %}

{% block style %}

<link rel="stylesheet" type="text/css" href="/Public/Templates/user/userAccount/assets/styles.css">

{% endblock %}
	

{% block body %}

<form id="accountForm">
	<p id="formError"></p>
	<h3 id="formName">Login</h3>
	<span>
	  	<input type="email" id="email" name="email" placeholder="Enter your Email"><br><br>
	  	<input type="password" id="password" name="password" placeholder="Choose a password"><br><br><br>
	  	<input type="submit" id="formButton" value="Log in">
	</span>

	<p id="tagLink">Have not an account ? <a href="/user/register">Register</a></p>
</form>

{% endblock %}


{% block javascript %}

<script src="/Public/Templates/user/userAccount/assets/javascript/login.js"></script>

{% endblock %}